<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.franciscoolivero.android.inventoryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_inventory_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_inventory"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".ProductsActivity"
            android:theme="@style/DetailTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductsActivity" />
        </activity>

        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.franciscoolivero.android.inventoryapp"
            android:exported="false" />

    </application>

</manifest>